<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form *ngIf="active" (submit)="signup()" #signupForm="ngForm">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Name" required 
            [(ngModel)]="model.name" 
            ngControl="name" #name="ngForm"/>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" class="form-control" placeholder="Email" required
            [(ngModel)]="model.email"
            ngControl="email"  #email="ngForm" />
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password" required 
            [(ngModel)]="model.password" 
            ngControl="password"  #password="ngForm"/>
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Email is required
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-inverse btn-lg btn-register" 
            [disabled]="!signupForm.form.valid">
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>